<section class="pt-15">
  <div class="container">
    <h2 class="text-white text-center mb-5 font-medium text-4xl">
      Contact <span class="text-emerald-500 drop-shadow-[0_0_5px_#fff]">Me</span>
    </h2>
    <div class="grid grid-cols-12 mx-auto gap-5 pt-5">
      <div class="col-span-12 md:col-span-6 ms-10">
        <p class="text-white">
          I'm a passionate Frontend Developer with expertise in Angular, focused on creating
          efficient and responsive web applications. If you'd like to discuss a project,
          collaborate, or simply ask a question, feel free to reach out. I'm always open to new
          opportunities and ideas.
        </p>
        <ul class="mt-5 text-emerald-500 flex flex-col gap-2">
          <li>
            <a
              href="https://www.linkedin.com/home"
              target="_blank"
              class="drop-shadow-[0_0_5px_#fff]"
            >
              <i class="fa-brands text-white fa-linkedin-in text-xl"></i>
              https://www.linkedin.com/in/ammar-shreif/
            </a>
          </li>
          <li>
            <a
              href="https://github.com/AmarShreif"
              target="_blank"
              class="drop-shadow-[0_0_5px_#fff]"
              ><i class="fa-brands text-white fa-github text-xl"></i>
              https://github.com/AmarShreif</a
            >
          </li>
          <li>
            <a
              href="mailti:amrashreif27@gmail.com"
              target="_blank"
              class="drop-shadow-[0_0_5px_#fff]"
              ><i class="fa-brands text-white fa-google text-xl"></i> amrashreif27@gmail.com
            </a>
          </li>
          <li>
            <a
              href="https://wa.me/+201102702871"
              target="_blank"
              class="drop-shadow-[0_0_5px_#fff]"
            >
              <i class="fa-brands text-white fa-whatsapp text-xl"></i>https://wa.me/+201102702871</a
            >
          </li>
        </ul>
      </div>
      <div class="col-span-12 md:col-span-6 w-[90%] md:me-5 mx-auto">
        <form class="flex flex-col gap-4">
          <input
            type="text"
            class="rounded-3xl text-white border border-emerald-600 focus:outline-none focus:ring-0 focus:border-emerald-600 bg-transparent"
            placeholder="Full Name..."
            required
          />

          <input
            type="email"
            class="rounded-3xl text-white border border-emerald-600 focus:outline-none focus:ring-0 focus:border-emerald-600 bg-transparent"
            placeholder="Email..."
            required
          />

          <input
            type="tel"
            class="rounded-3xl text-white border border-emerald-600 focus:outline-none focus:ring-0 focus:border-emerald-600 bg-transparent"
            placeholder="Phone Number..."
            required
          />

          <input
            type="text"
            class="rounded-3xl text-white border border-emerald-600 focus:outline-none focus:ring-0 focus:border-emerald-600 bg-transparent"
            placeholder="Subject..."
            required
          />

          <textarea
            rows="6"
            placeholder="Your Message..."
            class="rounded-3xl text-white border border-emerald-600 focus:outline-none focus:ring-0 focus:border-emerald-600 bg-transparent"
            required
          ></textarea>

          <button
            type="submit"
            class="text-emerald-600 p-2 border rounded-3xl hover:bg-emerald-800 hover:text-white transition-all duration-300 border-emerald-600 cursor-pointer"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
