<section class="pt-20 pb-20">
  <div class="container mx-auto">
    <h2
      class="text-white text-center mb-10 font-medium text-4xl wow animate__animated animate__fadeInDown"
      data-wow-duration="1s"
    >
      Contact <span class="text-emerald-500 drop-shadow-[0_0_5px_#fff]">Me</span>
    </h2>

    <div class="grid grid-cols-12 gap-8 items-start">
      <!-- LEFT INFO -->
      <div
        class="col-span-12 md:col-span-6 wow animate__animated animate__fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
      >
        <p class="text-white mb-6">
          I'm a passionate Frontend Developer with expertise in Angular, focused on creating
          efficient and responsive web applications. If you'd like to discuss a project,
          collaborate, or simply ask a question, feel free to reach out. I'm always open to new
          opportunities and ideas.
        </p>
        <ul class="flex flex-col gap-3 text-emerald-500">
          <li>
            <a
              href="https://www.linkedin.com/in/ammar-shreif/"
              target="_blank"
              class="flex items-center gap-2 hover:underline"
            >
              <i class="fa-brands fa-linkedin-in text-white text-xl"></i>
              https://www.linkedin.com/in/ammar-shreif/
            </a>
          </li>
          <li>
            <a
              href="https://github.com/AmarShreif"
              target="_blank"
              class="flex items-center gap-2 hover:underline"
            >
              <i class="fa-brands fa-github text-white text-xl"></i>
              https://github.com/AmarShreif
            </a>
          </li>
          <li>
            <a href="mailto:amrashreif27@gmail.com" class="flex items-center gap-2 hover:underline">
              <i class="fa-brands fa-google text-white text-xl"></i>
              amrashreif27@gmail.com
            </a>
          </li>
          <li>
            <a
              href="https://wa.me/+201102702871"
              target="_blank"
              class="flex items-center gap-2 hover:underline"
            >
              <i class="fa-brands fa-whatsapp text-white text-xl"></i>
              +20 110 270 2871
            </a>
          </li>
        </ul>
      </div>

      <!-- RIGHT FORM -->
      <div
        class="col-span-12 md:col-span-6 wow animate__animated animate__fadeInRight"
        data-wow-duration="1s"
        data-wow-delay="0.4s"
      >
        <form class="flex flex-col gap-4">
          <input
            type="text"
            placeholder="Full Name..."
            required
            class="rounded-3xl text-white border border-emerald-600 bg-transparent p-3 focus:outline-none focus:ring-0 focus:border-emerald-500 wow animate__animated animate__fadeInRight"
            data-wow-delay="0.1s"
          />
          <input
            type="email"
            placeholder="Email..."
            required
            class="rounded-3xl text-white border border-emerald-600 bg-transparent p-3 focus:outline-none focus:ring-0 focus:border-emerald-500 wow animate__animated animate__fadeInRight"
            data-wow-delay="0.2s"
          />
          <input
            type="tel"
            placeholder="Phone Number..."
            required
            class="rounded-3xl text-white border border-emerald-600 bg-transparent p-3 focus:outline-none focus:ring-0 focus:border-emerald-500 wow animate__animated animate__fadeInRight"
            data-wow-delay="0.3s"
          />
          <input
            type="text"
            placeholder="Subject..."
            required
            class="rounded-3xl text-white border border-emerald-600 bg-transparent p-3 focus:outline-none focus:ring-0 focus:border-emerald-500 wow animate__animated animate__fadeInRight"
            data-wow-delay="0.4s"
          />
          <textarea
            rows="6"
            placeholder="Your Message..."
            required
            class="rounded-3xl text-white border border-emerald-600 bg-transparent p-3 focus:outline-none focus:ring-0 focus:border-emerald-500 wow animate__animated animate__fadeInRight"
            data-wow-delay="0.5s"
          ></textarea>
          <button
            type="submit"
            class="text-emerald-600 border border-emerald-600 rounded-3xl p-3 hover:bg-emerald-800 hover:text-white transition-all duration-300 cursor-pointer wow animate__animated animate__fadeInRight"
            data-wow-delay="0.6s"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
