<section>
  <div class="container">
    <div class="grid grid-cols-12 items-center space-x-10 max-w-7xl pt-17 pb-5">
      <div class="col-span-12 md:col-span-6">
        <img
          src="/image/WhatsApp Image 2025-11-12 at 7.28.05 PM.jpeg"
          class="w-[300px] h-[400px] md:w-[500px] md:h-[600px] shadow pt-5 mx-auto md:ms-auto drop-shadow-[0_0_10px_#00bc7d] hover:drop-shadow-[0_0_25px_#00bc7d] transition-all duration-300 cursor-pointer"
          alt=""
        />
      </div>
      <div class="col-span-12 md:col-span-6 md:mt-0 mt-8 text-center md:text-start">
        <h2 class="text-white text-5xl md:text-6xl font-bold">
          Hi, It's <span class="text-emerald-500">Ammar</span>
        </h2>
        <h3 class="text-2xl md:text-3xl font-bold text-white pt-4">
          I'm
          <span #typing class="border-r-2 text-emerald-500 border-emerald-500 pr-1"></span>
        </h3>
        <p class="text-white pt-2">
          My name is Ammar Shreif, and I'm a dedicated and results-driven Frontend Developer with
          over 2 years of hands-on experience in building responsive and user-friendly web
          applications. I specialize in leveraging modern web technologies such as HTML5, CSS3,
          JavaScript, TypeScript, and Angular to deliver high-performance solutions. Throughout my
          career, I have honed my expertise in frameworks and libraries including jQuery, Bootstrap,
          Tailwind, and SASS. I'm also well-versed in integrating APIs, object-oriented programming
          (OOP), and maintaining code efficiency with tools like NPM, Git, and GitHub. My deep
          understanding of web performance optimization, cross-browser compatibility, and responsive
          web design ensures that I create seamless user experiences across various platforms and
          devices. Angular has been my primary focus, where I enjoy solving complex problems and
          transforming ideas into dynamic, interactive interfaces. I'm passionate about staying
          updated with the latest industry trends and continuously improving my skills to deliver
          innovative solutions.
        </p>
        <div class="text-emerald-500 pt-8 ms-3 space-x-12">
          <a href="https://www.linkedin.com/home" target="_blank" class="Icon">
            <i class="fa-brands fa-linkedin-in relative z-10 text-2xl"></i>
          </a>

          <a href="https://github.com/AmarShreif" target="_blank" class="Icon"
            ><i class="fa-brands fa-github relative z-10 text-2xl"></i
          ></a>
          <a href="mailti:amrashreif27@gmai.com" target="_blank" class="Icon"
            ><i class="fa-brands fa-google relative z-10 text-2xl"></i
          ></a>
          <a href="https://wa.me/+201102702871" target="_blank" class="Icon">
            <i class="fa-brands fa-whatsapp relative z-10 text-2xl"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
