<footer class="bg-emerald-950 h-[100px] text-center mt-10">
  <div class="container">
    <div class="text-emerald-500 pt-8 ms-3 space-x-12">
      <a href="https://www.linkedin.com/home" target="_blank" class="Icon">
        <i class="fa-brands fa-linkedin-in relative z-10 text-lg text-white"></i>
      </a>

      <a href="https://github.com/AmarShreif" target="_blank" class="Icon"
        ><i class="fa-brands fa-github relative z-10 text-lg text-white"></i
      ></a>
      <a href="mailti:amrashreif27@gmai.com" target="_blank" class="Icon"
        ><i class="fa-brands fa-google relative z-10 text-lg text-white"></i
      ></a>
      <a href="https://wa.me/+201102702871" target="_blank" class="Icon">
        <i class="fa-brands fa-whatsapp relative z-10 text-lg text-white"></i
      ></a>
    </div>
    <h3 class="mt-4 text-white">© Ammar Shreif| All Right Reserved</h3>
  </div>
</footer>
