<section class="relative overflow-hidden">
  <div
    class="absolute top-0 left-[70%] -translate-x-1/2 -translate-y-1/2 w-[600px] h-[600px] bg-[#00bc7d] rounded-full blur-3xl opacity-20 wow animate__animated animate__fadeIn"
  ></div>

  <div class="container relative z-10">
    <div class="grid grid-cols-12 pt-35 pb-29 items-center gap-5 md:gap-0">
      <div
        class="col-span-12 md:col-span-6 mx-auto text-center md:text-left space-y-3 wow animate__animated animate__fadeInLeft"
        data-wow-delay="0.2s"
      >
        <h1 class="text-5xl font-bold text-emerald-500">
          Ammar <span class="text-white">Shreif</span>
        </h1>

        <p class="text-lg text-white">
          Front-End Developer <span class="text-emerald-500">|</span> Angular
        </p>

        <a
          href="/image/Ammar-Shreif-Hanafi-FlowCV-Resume-20251115 (1).pdf"
          class="text-white bg-emerald-600 hover:bg-emerald-700 transition-all duration-300 py-2 px-4 rounded-lg cursor-pointer inline-block"
          download
        >
          Resume
        </a>
      </div>

      <div
        class="col-span-12 md:col-span-6 pt-10 wow animate__animated animate__fadeInRight"
        data-wow-delay="0.4s"
      >
        <img
          src="/image/asdasdas.jpeg"
          class="w-[45%] md:w-[250px] rounded-full border border-amber-50 mx-auto drop-shadow-[0_0_10px_#00bc7d] floating"
          alt="Ammar Shreif"
        />
      </div>
    </div>
  </div>
</section>

<app-about id="about"></app-about>
<app-projects></app-projects>
<app-skills></app-skills>
<app-education></app-education>
<app-contact></app-contact>
