<section class="pt-16 pb-5">
  <div class="container">
    <div>
      <h2 class="text-3xl text-white font-medium ms-2 mb-2">FreshCart</h2>
      <div class="text-white max-w-6xl mx-auto">
        <a
          href=""
          class="relative text-emerald-600 drop-shadow-[0_0_5px_#fff] block mb-2 after:content-[''] after:absolute after:ms-1 after:-bottom-1 after:left-0 after:w-50 after:h-0.5 after:bg-emerald-600"
          target="_blank"
        >
          <i class="fa-solid fa-earth-americas"></i>
          freshcartsiteecommerce.app
        </a>

        <ul>
          <li>
            - Integrated external APIs, leveraging Angular's powerful features such as interfaces,
            routing, services, pipes, models, and guards.
          </li>
          <li>
            - Implemented user authentication and authorization mechanisms using Angular, ensuring
            secure access to the website's functionalities.
          </li>
          <li>
            - Home Page: The home page serves as the central hub, displaying various sections to
            engage users.
          </li>
          <li>
            - Categories: The website organizes products into different categories, allowing users
            to browse and explore items based on their interests. Each category presents a
            collection of related products.
          </li>
          <li>
            - Product Search: Users can utilize a search functionality to find specific products by
            name.
          </li>
          <li>
            - Product Details Page: Each product has a dedicated details page that offers
            comprehensive information.
          </li>
          <li>
            - Cart Page: The cart page displays a summary of the items users have added for
            purchase. Users can view quantities, update product options, and remove items if needed.
          </li>
          <li>
            - Payment Page: Once users proceed to checkout, they are redirected to a secure payment
            page. This page is hosted by a trusted payment gateway provider.
          </li>
        </ul>
      </div>
    </div>
    <div class="my-5">
      <h2 class="text-3xl text-white font-medium ms-2 mb-2">Book Library</h2>
      <div class="text-white max-w-6xl mx-auto">
        <a
          href="https://booklibrary2026.netlify.app/"
          class="relative text-emerald-600 drop-shadow-[0_0_5px_#fff] block mb-2 after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-30 after:ms-1 after:h-0.5 after:bg-emerald-600"
          target="_blank"
        >
          <i class="fa-solid fa-earth-americas"></i>
          thebooklibrary.app
        </a>

        <ul>
          <li>
            - Integrated external APIs, leveraging Angular's powerful features such as interfaces,
            routing, services, pipes, models, and guards.
          </li>
          <li>
            - Home Page : It contains the most popular books, a club for modern books, and a section
            of book topics that you might be interested in reading about.
          </li>
          <li>
            - All books: You can find any book you want on this page and also search for a book by
            its name.
          </li>
          <li>
            - Authors: This page contains many authors, and you can search for an author by their
            name, and all their works will appear.
          </li>
          <li>
            - Topics: Through this page, you can search for a specific topic, and books related to
            that topic will appear.
          </li>
        </ul>
      </div>
    </div>
    <div class="my-5">
      <h2 class="text-3xl text-white font-medium ms-2 mb-2">Weather</h2>
      <div class="text-white max-w-6xl mx-auto">
        <a
          href="https://weather156.netlify.app/"
          class="relative text-emerald-600 drop-shadow-[0_0_5px_#fff] block mb-2 after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-36 after:ms-1 after:h-0.5 after:bg-emerald-600"
          target="_blank"
        >
          <i class="fa-solid fa-earth-americas"></i>
          Ammar/Weather-App/
        </a>

        <ul>
          <li>
            - Developed with HTML , CSS, Bootstrap , Javascript, Some libraries And Integrated APIs
            to fetch accurate weather data.
          </li>
          <li>
            - Real-Time Updates: Provides current weather, hourly forecasts for the next 24 hours,
            and a 3-days weather forecast.
          </li>
          <li>
            - Geolocation: Automatic Location Detection and enabled location-based weather updates
            and city search functionality.
          </li>
          <li>- Responsive Design.</li>
        </ul>
      </div>
    </div>
    <div class="my-5">
      <h2 class="text-3xl text-white font-medium ms-2 mb-2">Employee Management</h2>
      <div class="text-white max-w-6xl mx-auto">
        <a
          href="https://employeemanagement2026.netlify.app/"
          class="relative text-emerald-600 drop-shadow-[0_0_5px_#fff] block mb-2 after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-85 after:ms-1 after:h-0.5 after:bg-emerald-600"
          target="_blank"
        >
          <i class="fa-solid fa-earth-americas"></i>
          https://employeemanagement2026.netlify.app/
        </a>

        <ul>
          <li>
            - Developed an Employee Management System using JavaScript and Bootstrap, providing an
            interactive and user-friendly interface.
          </li>
          <li>
            - Utilized LocalStorage to store and retrieve data locally, eliminating the need for an
            external database.
          </li>
          <li>
            - Add, Edit, and Delete Employees: Enabled users to efficiently manage employee
            information, including name, job title, and phone number..
          </li>
          <li>
            - Search and Filter: Implemented advanced search and filtering functions for quick
            access to employee data.
          </li>
          <li>
            - Displayed all employee data in a dynamic table, automatically updating when data is
            added or modified.
          </li>
          <li>
            - Leveraged Bootstrap to create a responsive and visually appealing interface across
            different screen sizes.
          </li>
        </ul>
      </div>
    </div>
    <div class="my-5">
      <h2 class="text-3xl text-white font-medium ms-2 mb-2">Login System</h2>
      <div class="text-white max-w-6xl mx-auto">
        <a
          href="https://amarshreif.github.io/LoOgin/"
          class="relative text-emerald-600 drop-shadow-[0_0_5px_#fff] block mb-2 after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-63 after:ms-1 after:h-0.5 after:bg-emerald-600"
          target="_blank"
        >
          <i class="fa-solid fa-earth-americas"></i>
          https://amarshreif.github.io/LoOgin/
        </a>

        <ul>
          <li>
            - Developed an Employee Management System using JavaScript and Bootstrap, providing an
            interactive and user-friendly interface.
          </li>
          <li>
            - Implemented user registration and login functionality with form validation to ensure
            proper input and prevent errors.
          </li>
          <li>
            - Utilized LocalStorage to store user credentials securely for demonstration purposes.
          </li>
          <li>- Added password validation and visibility toggle for improved user experience.</li>
          <li>
            - Provided error messages and success feedback to guide users during login and
            registration.
          </li>
          <li>
            - Designed a responsive and modern interface using Bootstrap, compatible with different
            screen sizes.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
