<section class="pt-20 pb-5">
  <div class="container mx-auto px-4">
    <h2 class="text-white font-medium text-center text-3xl pt-4 pb-7">My Projects</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
      <div
        class="bg-transparent border-2 border-emerald-600 rounded-2xl shadow shadow-emerald-600 hover:shadow-[0_0_15px_#00BC7D] overflow-hidden flex flex-col wow animate__animated animate__fadeInUp"
        data-wow-delay="0.1s"
      >
        <img
          src="/image/Screenshot 2025-11-18 002214.png"
          class="w-full h-56 object-cover"
          alt="Book Library"
        />
        <div class="p-4 flex flex-col flex-1 justify-between">
          <h3 class="text-emerald-600 text-2xl font-medium">Book Library</h3>
          <p class="text-white mt-2">Fully responsive online store with cart functionality.</p>
          <a
            href="https://e-commerce-w663.vercel.app/home"
            target="_blank"
            class="mt-4 text-white bg-emerald-600 hover:bg-emerald-800 hover:scale-105 transition-all duration-300 rounded-full py-2 text-center"
          >
            Live Demo
          </a>
        </div>
      </div>
      <!-- Book Library -->

      <div
        class="bg-transparent border-2 border-emerald-600 rounded-2xl shadow shadow-emerald-600 hover:shadow-[0_0_15px_#00BC7D] overflow-hidden flex flex-col wow animate__animated animate__fadeInUp"
        data-wow-delay="0.1s"
      >
        <img
          src="/image/Screenshot 2025-11-17 060444.png"
          class="w-full h-56 object-cover"
          alt="Book Library"
        />
        <div class="p-4 flex flex-col flex-1 justify-between">
          <h3 class="text-emerald-600 text-2xl font-medium">Book Library</h3>
          <p class="text-white mt-2">A modern library website built with Angular</p>
          <a
            href="https://booklibrary2026.netlify.app/"
            target="_blank"
            class="mt-4 text-white bg-emerald-600 hover:bg-emerald-800 hover:scale-105 transition-all duration-300 rounded-full py-2 text-center"
          >
            Live Demo
          </a>
        </div>
      </div>

      <!-- Weather App -->
      <div
        class="bg-transparent border-2 border-emerald-600 rounded-2xl shadow shadow-emerald-600 hover:shadow-[0_0_15px_#00BC7D] overflow-hidden flex flex-col wow animate__animated animate__fadeInUp"
        data-wow-delay="0.2s"
      >
        <img
          src="/image/Screenshot 2025-11-17 060550.png"
          class="w-full h-56 object-cover"
          alt="Weather App"
        />
        <div class="p-4 flex flex-col flex-1 justify-between">
          <h3 class="text-emerald-600 text-2xl font-medium">Weather App</h3>
          <p class="text-white mt-2">
            A responsive JavaScript-based weather app for real-time forecasts
          </p>
          <a
            href="https://weather156.netlify.app/"
            target="_blank"
            class="mt-4 text-white bg-emerald-600 hover:bg-emerald-800 hover:scale-105 transition-all duration-300 rounded-full py-2 text-center"
          >
            Live Demo
          </a>
        </div>
      </div>

      <!-- Employee Manager -->
      <div
        class="bg-transparent border-2 border-emerald-600 rounded-2xl shadow shadow-emerald-600 hover:shadow-[0_0_15px_#00BC7D] overflow-hidden flex flex-col wow animate__animated animate__fadeInUp"
        data-wow-delay="0.3s"
      >
        <img
          src="/image/Screenshot 2025-11-17 060611.png"
          class="w-full h-56 object-cover"
          alt="Employee Manager"
        />
        <div class="p-4 flex flex-col flex-1 justify-between">
          <h3 class="text-emerald-600 text-2xl font-medium">Employee Manager</h3>
          <p class="text-white mt-2">
            A responsive JavaScript-based employee manager app for efficient tracking
          </p>
          <a
            href="https://employeemanagement2026.netlify.app/"
            target="_blank"
            class="mt-4 text-white bg-emerald-600 hover:bg-emerald-800 hover:scale-105 transition-all duration-300 rounded-full py-2 text-center"
          >
            Live Demo
          </a>
        </div>
      </div>

      <!-- Login System -->
      <div
        class="bg-transparent border-2 border-emerald-600 rounded-2xl shadow shadow-emerald-600 hover:shadow-[0_0_15px_#00BC7D] overflow-hidden flex flex-col wow animate__animated animate__fadeInUp"
        data-wow-delay="0.4s"
      >
        <img
          src="/image/Screenshot 2025-11-17 060704.png"
          class="w-full h-56 object-cover"
          alt="Login System"
        />
        <div class="p-4 flex flex-col flex-1 justify-between">
          <h3 class="text-emerald-600 text-2xl font-medium">Login System</h3>
          <p class="text-white mt-2">
            An interactive login system built with JavaScript for seamless authentication
          </p>
          <a
            href="https://amarshreif.github.io/LoOgin/"
            target="_blank"
            class="mt-4 text-white bg-emerald-600 hover:bg-emerald-800 hover:scale-105 transition-all duration-300 rounded-full py-2 text-center"
          >
            Live Demo
          </a>
        </div>
      </div>

      <!-- Book Marker -->
      <div
        class="bg-transparent border-2 border-emerald-600 rounded-2xl shadow shadow-emerald-600 hover:shadow-[0_0_15px_#00BC7D] overflow-hidden flex flex-col wow animate__animated animate__fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          src="/image/Screenshot 2025-11-17 060636.png"
          class="w-full h-56 object-cover"
          alt="Book Marker"
        />
        <div class="p-4 flex flex-col flex-1 justify-between">
          <h3 class="text-emerald-600 text-2xl font-medium">Book Marker</h3>
          <p class="text-white mt-2">
            A sleek, modern bookmark management platform developed using JavaScript.
          </p>
          <a
            href="https://amarshreif.github.io/Bookmarker/"
            target="_blank"
            class="mt-4 text-white bg-emerald-600 hover:bg-emerald-800 hover:scale-105 transition-all duration-300 rounded-full py-2 text-center"
          >
            Live Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
