<section class="py-[61px] h-[60%]">
  <h2 class="text-4xl font-medium text-white mt-2 text-center">Education & Courses</h2>
  <div class="container">
    <div class="grid grid-cols-12 gap-5 md:gap-10 items-center">
      <div class="div col-span-12 md:col-span-6">
        <div
          class="text-white border-2 border-emerald-600 rounded-4xl py-11 px-10 mt-2 md:mt-15 hover:shadow-[0_0_15px_#00bc7d] transition-all duration-300 hover:scale-105 floating shadow-[0_0_5px_#00bc7d]"
        >
          <h2 class="text-2xl font-medium mb-2">
            Institute of Qualitative Studies – Giza, Faculty of Information Systems
          </h2>
          <p>
            I graduated from the Institute of Qualitative Studies – Giza with a major in Management
            Information Systems in 2021, with a High Good grade.
          </p>
        </div>
      </div>
      <div class="div col-span-12 md:col-span-6">
        <div
          class="text-white border-2 border-emerald-600 rounded-4xl py-15 floating px-10 mt-0 md:mt-15 hover:shadow-[0_0_15px_#00bc7d] transition-all duration-300 hover:scale-105 shadow-[0_0_5px_#00bc7d]"
        >
          <h2 class="text-2xl font-medium mb-2">Route Acadmy</h2>
          <p>
            I have obtained a certificate in the front-end track from Route Academy for Programming
            Education after completing all the tasks and exams related to this track.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
