<section>
  <div class="container p-0 md:pt-22">
    <h1
      class="text-4xl font-medium text-white mt-1 mb-6 text-center wow animate__animated animate__zoomIn"
      data-wow-delay=".1s"
    >
      Skills
    </h1>

    <div class="grid grid-cols-12 text-center gap-5 max-w-7xl mx-auto">
      <!-- ======================== HTML ======================== -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".1s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-html5 text-6xl text-orange-500"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            HTML5
          </p>
        </div>
      </div>

      <!-- ======================== CSS ======================== -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".2s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-css3-alt text-6xl text-sky-600"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            CSS3
          </p>
        </div>
      </div>

      <!-- ======================== JS ======================== -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".3s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-js text-6xl text-amber-300"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            JavaScript
          </p>
        </div>
      </div>

      <!-- ======================== TS ======================== -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".4s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <img src="/image/ts.png" class="w-15 rounded-full mb-2 mx-auto" />
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            TypeScript
          </p>
        </div>
      </div>

      <!-- Angular -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".5s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-angular text-6xl text-red-600"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            Angular
          </p>
        </div>
      </div>

      <!-- SCSS -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".6s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-sass text-6xl text-fuchsia-400"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            SCSS
          </p>
        </div>
      </div>

      <!-- jQuery -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".7s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <img src="/image/jquery.jpeg" class="w-15 rounded-full mb-2 mx-auto" />
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            jQuery
          </p>
        </div>
      </div>

      <!-- Bootstrap -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".8s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-bootstrap text-6xl text-violet-600"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            Bootstrap
          </p>
        </div>
      </div>

      <!-- Tailwind -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay=".9s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <img src="/image/tailwindcss.jpg" class="w-15 rounded-full mb-2 mx-auto" />
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            TailwindCSS
          </p>
        </div>
      </div>

      <!-- GitHub -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay="1s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-github text-6xl"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            Git & GitHub
          </p>
        </div>
      </div>

      <!-- Figma -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay="1.1s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-figma text-6xl text-white"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            Figma
          </p>
        </div>
      </div>

      <!-- NPM -->
      <div
        class="col-span-12 sm:col-span-6 md:col-span-3 wow animate__animated animate__zoomIn"
        data-wow-delay="1.2s"
      >
        <div
          class="group hover:scale-75 transition-all duration-600 text-white border border-emerald-500 shadow-[0_0_10px_2px_rgba(16,185,129,0.7)] mx-auto md:w-[90%] py-5 rounded-xl"
        >
          <span
            class="block transition-transform duration-600 group-hover:rotate-12 group-hover:scale-125"
          >
            <i class="fa-brands mb-2 fa-npm text-6xl text-red-600"></i>
          </span>
          <p
            class="text-2xl transition-all duration-600 group-hover:-translate-y-1 group-hover:scale-125"
          >
            NPM
          </p>
        </div>
      </div>
    </div>

    <h3
      class="text-2xl font-bold mt-5 ms-4 text-white wow animate__animated animate__zoomIn"
      data-wow-delay="1.3s"
    >
      Web Technologies:
    </h3>

    <p
      class="text-white w-[85%] py-2 mb-5 mx-auto wow animate__animated animate__zoomIn"
      data-wow-delay="1.4s"
    >
      HTML5, CSS3, Javascript, Typescript, Angular, jQuery, Bootstrap, Tailwind, SCSS, APIs, OOP,
      NPM, Git & GitHub, Regular Expression, Responsive Web Design, Cross-Browser Compatibility, Web
      Performance, Directives, Data Binding, Routing, Routing Guards, LazyLoading, PIPEs, Forms
      Validation, Services, Interface, Interceptor, Angular Material, PrimeNg and Figma.
    </p>
  </div>
</section>
