@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
:root {
  --mian-color: 00bc7d;
}

body {
  font-family: 'Playpen Sans', cursive;
  background-color: black;
}

@utility container {
  margin-inline: auto;
}

@layer components {
  .after-underline {
    @apply relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-emerald-600 after:transition-all after:duration-300 md:hover:after:w-[90%] hover:after:w-[50%];
  }
  .Icon {
    @apply relative inline-block translate-y-0 hover:-translate-y-2 transition-all duration-300 cursor-pointer hover:text-white after:z-0 after:content-[''] after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-12 after:h-12 after:border after:border-emerald-500 after:rounded-full after:transition-all after:duration-300 hover:after:bg-emerald-500 hover:drop-shadow-[0_0_10px_#00bc7d];
  }
}
/* عرض السكروول */
::-webkit-scrollbar {
  width: 10px;
}

/* خلفية السكروول */
::-webkit-scrollbar-track {
  background: rgba(24, 24, 24, 0.792);
}

/* الجزء اللي بيتحرك */
::-webkit-scrollbar-thumb {
  background: #10b981; /* emerald */
  border-radius: 12px;
}

/* عند الـ hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f9a6d;
}
